@model SGCTicketSystem.Models.Technical

@{
    ViewBag.Title = "Technical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Technical</h2>

<div>
    <h4>Technical</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Issues.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issues.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechnicalSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicalSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitializeDiagnostic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitializeDiagnostic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionTaken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recomendation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recomendation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TechnicalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
